/* @import '~primereact/resources/themes/saga-blue/theme.css';
@import '~primereact/resources/primereact.min.css';
@import '~primeicons/primeicons.css'; */
@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&family=Poiret+One&family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Nanum+Myeongjo:wght@400;700;800&family=Poiret+One&family=Quicksand:wght@300..700&display=swap');
.italiana {
  font-family: 'Italiana', serif;
}
.p-dock-list-container{
  background-color: #e7f8a359;

}
.inter-bold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

.inter-semibold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

.inter-light {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

.poiret-one-regular {
  font-family: "Poiret One", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 8rem;
}
.poiret-one-regular-header {
  font-family: "Poiret One", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 8rem;
  font-size: 10rem;
}


@media screen and (max-width: 800px) {
  .poiret-one-regular {
    line-height: 6rem;
  }
}
@media screen and (max-width: 800px) {
  .poiret-one-regular-header {
    line-height: 6rem;
    font-size: 6rem;
  }
}
@media screen and (max-width: 500px) {
  .poiret-one-regular {
    line-height: 4rem;
  }
}
@media screen and (max-width: 500px) {
  .poiret-one-regular-header {
    line-height: 6rem;
    font-size: 5rem;
  }
}
.nanum-myeongjo-regular {
  font-family: "Nanum Myeongjo", serif;
  font-weight: 400;
  font-style: normal;
}

.nanum-myeongjo-bold {
  font-family: "Nanum Myeongjo", serif;
  font-weight: 700;
  font-style: normal;
}

/* .p-scrolltop .p-scrolltop-icon {
  height: 3rem;
  width: 3rem;
} */
.p-scrolltop {
  background-color: #00000059 !important;
  padding: 0.6rem;
}

.back-btn {
  background-color: #00000059 !important;
  width: 3rem;
  color: white;
  font-weight: 700;
}

.nanum-myeongjo-extrabold {
  font-family: "Nanum Myeongjo", serif;
  font-weight: 800;
  font-style: normal;
}

.text-italic {
  font-style: italic;
}
.skills-button{
  background-color: #E7F8A3;
  color: black;
  border: none;
  font-family: "Quicksand", sans-serif;
}
.skills-button:hover{
  background-color: #cee37c;
  border: none;
  color: black;
  font-family: "Quicksand", sans-serif;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.p-dock-action {
  height: 90px;
  width: 90px;
}
.p-dock-action:hover {
  cursor: pointer;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.title-text {
  flex-direction: row;
  display: flex;
  font-family: "Quicksand", sans-serif;
  font-size: 150px;
  margin-bottom: 50px;
}

.profile-image {
  width: 58rem;
  height: 58rem;
  border-radius: 50%;
}

.no-wrap {
  white-space: nowrap;
}

.profile-description {
  /* padding-top: 40px; */
  white-space: normal;
  font-size: 25px;
  margin-left: 10px;
}

@media (max-width: 800px) {
  .profile-description {
    font-size: 25px; /* Adjust font size for smaller screens */
  }
}

.profile-description-main {
  padding-top: 40px;
  white-space: normal;
  font-size: 25px;
}

@media (max-width: 800px) {
  .profile-description-main {
    font-size: large; /* Adjust font size for smaller screens */
  }
}

.description-color {
  color: white;
}
.containter-class {
  width: 100%; /* Ensure the container width is responsive */
  max-width: 960px; 
}

.skills-description-color {
  color: hsl(252deg 73.57% 64.49%);
}
.typewriter {
  border-right: .15em solid black;
  white-space: nowrap;
  height: 150px;
  align-content: center;
  overflow: hidden;
  animation: typewriter 4s steps(40, end) infinite, blink-caret .75s step-end infinite;
}

@keyframes typewriter {
  0% { width: 0; }
  40% { width: 100%; }
  100% { width: 100%; }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: black; }
}

.sonia {
  color: #d0f9a7;
  font-size: 15rem;
  line-height: 0.8;
}

@media screen and (max-width: 1014px) {
  .sonia {
    font-size: 8rem;
  }
}
.section-title {
  font-size: 5rem;
}
@media screen and (max-width: 1014px) {
  .section-title {
    font-size: 3rem;
  }
}

.project-card {
  flex-direction: row!important;
}

/* @media screen and (max-width: 1500px) {
  .project-card {
    flex-direction: column!important;
  }
  
} */
.skills-header {
  font-size: larger;
  font-weight: 500;
  text-decoration: underline;
  color: hsl(39deg 21.01% 15.94%);
}

.skills-text {
  color: hsl(251.73deg 51.42% 52.85%);
  font-size: small;
}

.move-up {
  transform: translateY(-50px) !important;
}

.show-bullets {
  list-style-type: disc;
  padding-left: 1em;
}

.show-hover-text {
  position: relative;
}

.show-hover-text::after {
  content: attr(title);
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background: #333;
  color: #fff;
  padding: .5em;
  white-space: nowrap;
  pointer-events: none;
  opacity: 0;
  transition: opacity .2s ease-in-out;
}

.show-hover-text:hover::after {
  opacity: 1;
}

.div-content{
  padding-bottom: 100px !important;
}

.datavizlogo {
  padding-top: 2px;
}

body {
  background: #f88f52;;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}